/*
@font-face {
  font-family: 'wi-flat';
  src: url('./wi_flat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.wi-flat {
  display: block;
  font-family: 'wi-flat';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.wi-flat.wi-01d:before {
  content: "\f00d";
}
.wi-flat.wi-02d:before {
  content: "\f00c";
}
.wi-flat.wi-03d:before {
  content: "\f002";
}
.wi-flat.wi-04d:before {
  content: "\f002";
}
.wi-flat.wi-09d:before {
  content: "\f009";
}
.wi-flat.wi-10d:before {
  content: "\f008";
}
.wi-flat.wi-11d:before {
  content: "\f005";
}
.wi-flat.wi-13d:before {
  content: "\f00a";
}
.wi-flat.wi-50d:before {
  content: "\f003";
}

.wi-flat.wi-01n:before {
  content: "\f02e";
}
.wi-flat.wi-02n:before {
  content: "\f081";
}
.wi-flat.wi-03n:before {
  content: "\f086";
}
.wi-flat.wi-04n:before {
  content: "\f086";
}
.wi-flat.wi-09n:before {
  content: "\f029";
}
.wi-flat.wi-10n:before {
  content: "\f028";
}
.wi-flat.wi-11n:before {
  content: "\f025";
}
.wi-flat.wi-13n:before {
  content: "\f02a";
}
.wi-flat.wi-50n:before {
  content: "\f04a";
}
*/
.wi-flat {
}

.wi-flat.wi-01d {
  -webkit-mask: url(/static/css/weather/flat/01d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/01d.svg) center / contain no-repeat;
}
.wi-flat.wi-02d {
  -webkit-mask: url(/static/css/weather/flat/02d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/02d.svg) center / contain no-repeat;
}
.wi-flat.wi-03d {
  -webkit-mask: url(/static/css/weather/flat/03d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/03d.svg) center / contain no-repeat;
}
.wi-flat.wi-04d {
  -webkit-mask: url(/static/css/weather/flat/04d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/04d.svg) center / contain no-repeat;
}
.wi-flat.wi-09d {
  -webkit-mask: url(/static/css/weather/flat/09d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/09d.svg) center / contain no-repeat;
}
.wi-flat.wi-10d {
  -webkit-mask: url(/static/css/weather/flat/10d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/10d.svg) center / contain no-repeat;
}
.wi-flat.wi-11d {
  -webkit-mask: url(/static/css/weather/flat/11d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/11d.svg) center / contain no-repeat;
}
.wi-flat.wi-13d {
  -webkit-mask: url(/static/css/weather/flat/13d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/13d.svg) center / contain no-repeat;
}
.wi-flat.wi-50d {
  -webkit-mask: url(/static/css/weather/flat/50d.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/50d.svg) center / contain no-repeat;
}

.wi-flat.wi-01n {
  -webkit-mask: url(/static/css/weather/flat/01n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/01n.svg) center / contain no-repeat;
}
.wi-flat.wi-02n {
  -webkit-mask: url(/static/css/weather/flat/02n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/02n.svg) center / contain no-repeat;
}
.wi-flat.wi-03n {
  -webkit-mask: url(/static/css/weather/flat/03n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/03n.svg) center / contain no-repeat;
}
.wi-flat.wi-04n {
  -webkit-mask: url(/static/css/weather/flat/04n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/04n.svg) center / contain no-repeat;
}
.wi-flat.wi-09n {
  -webkit-mask: url(/static/css/weather/flat/09n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/09n.svg) center / contain no-repeat;
}
.wi-flat.wi-10n {
  -webkit-mask: url(/static/css/weather/flat/10n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/10n.svg) center / contain no-repeat;
}
.wi-flat.wi-11n {
  -webkit-mask: url(/static/css/weather/flat/11n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/11n.svg) center / contain no-repeat;
}
.wi-flat.wi-13n {
  -webkit-mask: url(/static/css/weather/flat/13n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/13n.svg) center / contain no-repeat;
}
.wi-flat.wi-50n {
  -webkit-mask: url(/static/css/weather/flat/50n.svg) center / contain no-repeat;
  mask: url(/static/css/weather/flat/50n.svg) center / contain no-repeat;
}